#Padre{
    background-image: url(/IMG/JSansalone\ Logo\ copia.png);
    position: sticky;
    top: 0px;
    right: 0%;
    height: 150px;
    width: 100%;
    background-color: rgb(138, 10, 10);

}
#Hijo1{
    display: inline-block;
    margin-left: 770px;
    background-color: rgb(138, 10, 10);
    font-size: 23px;
    font-weight: 800;
    margin-right: 7px;
}
#Hijo5{
    display: inline-block;
    background-color: rgb(138, 10, 10);
    font-size: 23px;
    font-weight: 800;
    margin-right: 7px;
}
a{
    text-decoration: none;
    color: black;
}
main{
    background-image: url(estrategia.jpg);
    background-repeat: no-repeat; 
    background-size:cover;
    height: 550px;
}

.colorh2{
    color: brown;
}
.colorh3{
    color: red;
}
.colorsubtitulo{
    color: whitesmoke;
}